/cluster-hardening/restricting-user-permissions/certs
cluster-hardening/seccomp/profiles/
.vscode/
monitoring/auditing/audit-log/audit.log
supply-chain/image-policy-webhook/webhook-impl
supply-chain/image-policy-webhook/admission-control/api-server-client.crt
supply-chain/image-policy-webhook/admission-control/api-server-client.key
supply-chain/image-policy-webhook/admission-control/ca.crt
.venv/
**/.venv/
.idea/
**/.idea/
